<section
  *ngIf="search"
  class="fixed shadow top-1/2 left-14 h-full w-80 p-5 my-3"
  [@fade]
>
  <input
    type="text"
    class="w-full h-10 bg-transparent rounded-lg px-4 py-2 focus:outline-none focus:border-transparent"
    placeholder="Search"
    (keydown)="handleSearch($event)"
  />

  <div class="mt-4" *ngIf="filterdUser.length == 0 && recentSearch.length > 0">
    <p class="text-gray-500">Recent Search</p>
    <div
      class="flex items-center gap-2 py-3 cursor-pointer user__item"
      *ngFor="let user of recentSearch"
      (click)="handleRoute(user.uid, user)"
    >
      <img
        [src]="user.profileImg || '../../../assets/images/profile.webp'"
        alt="profile"
        class="w-7 h-7 rounded-full"
      />
      <p style="margin-bottom: 0">{{ user.username }}</p>
    </div>
  </div>

  <div
    class="flex mt-4 items-center gap-2 py-3 cursor-pointer user__item"
    *ngIf="filterdUser.length > 0"
    (click)="handleRoute(filterdUser[0].uid, filterdUser[0])"
  >
    <img
      [src]="filterdUser[0].profileImg || '../../../assets/images/profile.webp'"
      alt="profile"
      class="w-7 h-7 rounded-full"
    />
    <p style="margin-bottom: 0">{{ filterdUser[0].username }}</p>
  </div>
</section>
