.post__content {
  width: 400px;
}

.post__item {
  background-color: var(--dark-light-color);
  border-radius: 14px;
  max-width: 800px;
  transition: all 0.3s ease-in-out;
}

.deleteIcon {
  opacity: 0.5;
  transition: 0.3s;
}

.deleteIcon:hover {
  opacity: 1;
}

p {
  margin-bottom: 0;
}

p span {
  font-size: 10px;
}

input {
  background-color: transparent;
}

.comments {
  max-height: 200px;
  overflow-y: auto;
}

.comment__item {
  border-bottom: 0.5px solid #535050;
}

.comment__text {
  color: var(--grey-color);
  margin: 10px 0;
  font-size: 12px;
}

.post__img {
  width: 400px;
  height: 250px;
}

.post__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  z-index: 1;
  opacity: 0;
}

.post__img img {
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}


.likeIcon {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: 2;
  transform: translate(-50%, -50%);

}

.post__img:hover .likeIcon , .post__img:hover::after {
  opacity: 1;
}

.likeIcon:hover {
  color: #ed4956;
}

.likeIcon.active {
  color: #ed4956;
  animation: like 0.3s ease-in-out;
}

@keyframes like {
  0% {
    transform: scale(1) translate(-50%, -50%) ;
  }
  50% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

