<section class="post__container py-5 ">
  <div class="post__item p-5 mb-5 flex gap-5 justify-between">
    <div class="post__content">
      <div class="post__content-top mb-4">
        <div class="flex items-center gap-2">
          <img
            src="../../../assets/images/profile.webp"
            alt="profile"
            class="w-12 h-12 rounded-full"
          />
          <p>
            Mohamed Gamal
            <span class="block text-gray-300"> 1 hour ago </span>
          </p>
        </div>
      </div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, culpa!
      </p>

      <app-comments></app-comments>
    </div>
    <div class="post__img">
      <img src="../../../assets/images/my.jpg" alt="personal" class="w-96" />
    </div>
  </div>
</section>
