<aside class="p-5 mb-5">
  <div
    (click)="handleRoute()"
    class="flex gap-3 items-center cursor-pointer mb-5"
  >
    <img
      [src]="userData.profileImg || '../../../assets/images/profile.webp'"
      [alt]="userData.fullName"
      class="w-10 rounded-full"
    />

    <div>
      <p>{{ userData.username }}</p>
      <p class="fullname">{{ userData.fullName }}</p>
    </div>
  </div>

  <div *ngIf="users.length > 0">
    <h3 class="text-gray-300">Suggestions For You</h3>
    <div>
      <div
        *ngFor="let user of users"
        [@fade]
        class="flex justify-between items-center mb-5"
      >
        <div
          class="flex gap-3 items-center cursor-pointer"
          [routerLink]="['/profile', user.id]"
        >
          <img
            [src]="user.profileImg || '../../../assets/images/profile.webp'"
            class="w-10 rounded-full"
            alt="profile"
          />
          <div>
            <p>{{ user.username }}</p>
            <small class="text-gray-400"> Suggested to you </small>
          </div>
        </div>

        <button (click)="handleFollow(user)">Follow</button>
      </div>
    </div>
  </div>
</aside>

<div class="px-3">
  <ul class="flex gap-2 flex-wrap mb-3">
    <li>About .</li>
    <li>Help .</li>
    <li>Press .</li>
    <li>Api .</li>
    <li>Jobs .</li>
    <li>Privacy .</li>
    <li>Terms .</li>
    <li>Locations .</li>
    <li>Language</li>
  </ul>

  <p>© 2022 Mohamed Gamal</p>
</div>
