<aside class="p-5 mb-5">
  <div class="flex gap-3 items-center cursor-pointer mb-5">
    <img
      src="../../../assets/images/profile.webp"
      class="w-10 rounded-full"
      alt="profile"
    />
    <p>Mohamed Gamal</p>
  </div>

  <h3 class="text-gray-300">Suggestions For You</h3>
  <div>
    <div class="flex justify-between items-center mb-5">
      <div class="flex gap-3 items-center">
        <img
          src="../../../assets/images/profile.webp"
          class="w-10 rounded-full"
          alt="profile"
        />
        <p>Mohamed Gamal</p>
      </div>

      <button>Follow</button>
    </div>

    <div class="flex justify-between items-center mb-5">
      <div class="flex gap-3 items-center">
        <img
          src="../../../assets/images/profile.webp"
          class="w-10 rounded-full"
          alt="profile"
        />
        <p>Mohamed Gamal</p>
      </div>

      <button>Follow</button>
    </div>

    <div class="flex justify-between items-center mb-5">
      <div class="flex gap-3 items-center">
        <img
          src="../../../assets/images/profile.webp"
          class="w-10 rounded-full"
          alt="profile"
        />
        <p>Mohamed Gamal</p>
      </div>

      <button>Follow</button>
    </div>
  </div>
</aside>

<div class="px-3">
  <ul class="flex gap-2 flex-wrap mb-3">
    <li>About .</li>
    <li>Help .</li>
    <li>Press .</li>
    <li>Api .</li>
    <li>Jobs .</li>
    <li>Privacy .</li>
    <li>Terms .</li>
    <li>Locations .</li>
    <li>Language</li>
  </ul>

  <p>© 2022 Mohamed Gamal</p>
</div>
