aside {
  background-color: var(--dark-light-color);
}

p {
  margin-bottom: 0;
  color: var(--white-light-color);
  text-transform: capitalize;
}

.fullname {
  font-size: 12px;
  color: var(--grey-color);
}

button {
  color: #0095f6;
  transition: 0.3s;
}

button:hover {
  color: var(--white-light-color);
}

li {
  color: var(--grey-color);
  font-size: 13px;
}

@media screen and (max-width: 786px) {
  aside,
  .homeFooter {
    display: none;
  }
}
