<section class="flex gap-5 px-5  justify-center items-center h-screen">
  <div class="img__container">
    <img src="../../assets/images/phone.png" alt="phone" />
  </div>
  <div class="flex items-center justify-center flex-col">
    <div class="form__container p-8">
      <div class="logo__container mx-auto">
        <img
          src="../../assets/images/instagram.png"
          class="w-100"
          alt="instagram"
        />
      </div>

      <div *ngIf="!signup">
        <app-login ></app-login>
      </div>

      <div *ngIf="signup">
        <app-signup></app-signup>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
