.comments {
  max-height: 200px;
  overflow-y: auto;
}

.comment__item {
  border-bottom: 0.5px solid #535050;
}

.comment__text {
  color: var(--grey-color);
  margin: 10px 0;
  font-size: 12px;
}

p {
  margin-bottom: 0;
}

input {
  background-color: transparent;
}

.likeIcon {
  transition: all 0.3s ease-in-out;
  font-size: 20px;
}

.likeIcon:hover {
  color: #ed4956;
}

.likeIcon.active {
  color: #ed4956;
}

@keyframes like {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
