<div class="story__container">
  <swiper
    [slidesPerView]="6"
    [spaceBetween]="0"
    [navigation]="true"
    class="px-5"
  >
    <ng-template swiperSlide class="flex flex-col items-center mt-3">
      <div
        class="w-12 h-12 rounded-full relative flex items-center justify-center img__container mb-2"
      >
        <img src="./assets/images/profile.webp" alt="profile" />
        <i class="bi bi-plus-circle-fill"></i>
      </div>
      <p>Your Story</p>
    </ng-template>
    <ng-template swiperSlide class="flex flex-col items-center mt-3"
      ><div
        class="w-12 h-12 rounded-full relative flex items-center justify-center img__container mb-2"
      >
        <img src="./assets/images/profile.webp" alt="profile" />
      </div>
      <p>Your Story</p></ng-template
    >
    <ng-template swiperSlide class="flex flex-col items-center mt-3"
      ><div
        class="w-12 h-12 rounded-full relative flex items-center justify-center img__container mb-2"
      >
        <img src="./assets/images/profile.webp" alt="profile" />
      </div>
      <p>Your Story</p></ng-template
    >

    <ng-template swiperSlide class="flex flex-col items-center mt-3"
      ><div
        class="w-12 h-12 rounded-full relative flex items-center justify-center img__container mb-2"
      >
        <img src="./assets/images/profile.webp" alt="profile" />
      </div>
      <p>Your Story</p></ng-template
    >

    <ng-template swiperSlide class="flex flex-col items-center mt-3"
      ><div
        class="w-12 h-12 rounded-full relative flex items-center justify-center img__container mb-2"
      >
        <img src="./assets/images/profile.webp" alt="profile" />
      </div>
      <p>Your Story</p></ng-template
    >

    <ng-template swiperSlide class="flex flex-col items-center mt-3"
      ><div
        class="w-12 h-12 rounded-full relative flex items-center justify-center img__container mb-2"
      >
        <img src="./assets/images/profile.webp" alt="profile" />
      </div>
      <p>Your Story</p></ng-template
    >

    <ng-template swiperSlide class="flex flex-col items-center mt-3"
      ><div
        class="w-12 h-12 rounded-full relative flex items-center justify-center img__container mb-2"
      >
        <img src="./assets/images/profile.webp" alt="profile" />
      </div>
      <p>Your Story</p></ng-template
    >

    <ng-template swiperSlide class="flex flex-col items-center mt-3"
      ><div
        class="w-12 h-12 rounded-full relative flex items-center justify-center img__container mb-2"
      >
        <img src="./assets/images/profile.webp" alt="profile" />
      </div>
      <p>Your Story</p></ng-template
    >
  </swiper>
</div>
